.arbutus-regular {
  font-family: "Arbutus", serif;
  font-weight: 400;
  font-style: normal;
}

.gelasio {
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: #ffe6a7;
  justify-content: center;
}

.item {
  padding: 2em;
  color: #432818;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.grid2 {
    background-color: #6f1d1b;
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: 1fr;
    color: #e3d2b5;
    align-items: center;
    justify-content: center;
}

.item2 {
  color: #e3d2b5;
  text-align: center;
  font-size: 22px;
}

.callaction {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  background-color: #6f1d1b;
  padding-top: 15px;
}


.menuheaders {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 350px;
  font-family: "Arbutus", serif;
  font-size: 36px;
  color: #432818;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.otherheaders {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 150px;
  font-family: "Arbutus", serif;
  font-size: 48px;
  color: #432818;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.itemcatering {
  padding: 2em;
  color: #ffe6a7;
  text-align: center;
  border-radius: 8px;
}

.contact {
    background-color: #6f1d1b;
}

.menubbqplatters {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 150px 100px 100px 100px 100px 100px;
  align-items: center;
  background-color: #ffe6a7;
  justify-content: center;

}

.itembbq {
  padding: 15px;
  color: #6f1d1b;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.menusandwiches {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 150px 100px 100px 100px 100px;
  align-items: center;
  background-color: #ffe6a7;
  justify-content: center;

}

.itemsand {
  padding: 15px;
  color: #432818;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.menusides {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 150px 100px 100px 100px 100px 100px 100px 100px;
  align-items: center;
  background-color: #ffe6a7;
  justify-content: center;
}

.itemsides {
  padding: 15px;
  color: #6f1d1b;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.menudrinks {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 150px 100px 100px 100px 100px;
  align-items: center;
  background-color: #ffe6a7;
  justify-content: center;
}

.itemdrinks {
  padding: 15px;
  color: #432818;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.menudess {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 150px 100px 100px 100px 100px;
  align-items: center;
  background-color: #ffe6a7;
  justify-content: center;
}

.itemdess {
  padding: 2em;
  color: #6f1d1b;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.cateringblurb {
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 400px;
  justify-content: center;
  color: #e3d2b5;
  text-align: center;
}

body {
  background-color: #060606
}

h1 {
  font-family: "Arbutus", Times, serif;
}

h2, h3 {
  font-family: "Special Elite", serif;
}

p {
  font-family: "Gelasio", serif;
}

#popular {
  font-size: 48px;
}

#logo {
  width: 250px;
  height: auto;
  padding-right: 20px;
}

.bbqplatter {
  height: 300px;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#sandwich {
  width: 500px;
  height: auto;
  padding-right: 20px;
}

#backgroundmenu {
  background-color: #ffe6a7;
}

#testing {
  font-size: 24px;
}
/* Page content */
.content {
  padding: 16px;
}

.topnav {
  overflow: hidden;
  background-image: url("wood3.jpg");
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 100px;
  grid-template-areas:
  "box-1 box-1 box-1 box-1"
  "box-2 box-3 box-4 box-5";
  place-items: center;
  justify-content: center;
  align-items: center;

}

.topnav a {
  float: left;
  color: #ffe6a7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Arbutus", Helvetica, serif;
}

.topnav a:hover {
  background-color: #ffe6a7;
  color: #432818;
}

.topnav a.active {
  background-color: #6f1d1b;
  color: #ffe6a7;
}


.contactpage {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #6f1d1b;
  color: #ffe6a7;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.itemcontact {
  padding: 2em;
  color: #ffe6a7;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

#contactimage {
  width: 50%;
  height: auto;
}

#contactbody {
    background-color: #432818;
}

.captions {
  font-size: 18px;
  font-family: "Gelasio", serif;
}

#cateringbackground {
  background-color: #6f1d1b;
}

footer {
  font-family: "Gelasio", serif;
}
.credits {
  background-color: #432818;
  color: #ffe6a7;
  padding: 10px;
  justify-content: center;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.shoeimage {
  height: 75px;
  width: auto;
}


.indexpromoimageboxes {
  padding-top: 20px;
  height: 300px;
  width: auto;
}

.wingspic {
  width: 100%;
  height: auto;
}


.menutesting {
  display: flex;
  justify-content: center;
}

.imagemenu1 {
  display: grid;
  grid-template-columns: 800px 800px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;

}

#dessgrid {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}

#pie {
  height: 400px;
  width: auto;
  padding-top: 15px;
}

.bbqsandimages {
  height: 400px;
  width: auto;
  padding: 50px;
}

a {
  color: #FFFFFF;
}

.imagescontact {
  width: 450px;
  height: auto;
}

#imagescontact {
  width: 500px;
  height: auto;
}
